<mat-card>
  <mat-card-header>
    <mat-card-title>
      Welcome to the Angular Material Starter
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      This is a simple Angular application that demonstrates the power of Angular and Angular Material.
    </p>
    <p>
      This application is built with Angular CLI and uses Angular Material components.
    </p>
    <p>
      This application is also configured to be deployed to GitHub Pages using GitHub Actions.
    </p>
  </mat-card-content>
